<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout::site-head">
    <title>Spring MVC Create Post</title>
</head>
<header th:replace="layout::logged-in">
</header>
<body>
<h3>Enter the data about your post</h3>
<form method="post" th:action="@{/Posts/create}">
    <div><label for="title">Title:</label></div>
    <div><input type="text" id="title" name="title"></div>
    <div><label>Description:</label></div>
    <div><textarea cols="100" rows="10" name="body"></textarea></div>
    <div><input type="submit" value="newpost"></div>
</form>
</body>
</html>